include dash_openlayers/dash_openlayers.min.js
include dash_openlayers/dash_openlayers.min.js.map
include dash_openlayers/async-*.js
include dash_openlayers/async-*.js.map
include dash_openlayers/*-shared.js
include dash_openlayers/*-shared.js.map
include dash_openlayers/metadata.json
include dash_openlayers/package-info.json
include README.md
include LICENSE
include package.json
